<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lil Vegas</title>
    <style>
        body {
            background-color: purple;
            font-family: 'Papyrus', fantasy;
            color: white;
            text-align: center;
        }

        input[type="button"] {
            font-size: 24px;
            padding: 15px 30px;
            background-color: gold;
            border: none;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Lil Vegas 🎲</h1>
    <h2>Let's Get Ready To Gamble!!!</h2>
    <form>
        <input type="button" value="BlackJack" onclick="location.href='/blackjack'">
        <br><br>
        <input type="button" value="Slot Machine" onclick="location.href='/slots'">
    </form>
    <br><br>
    <h3>Hello {{ username }}! You have ${{ money }} 💰</h3>
</body>
</html>